 @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
$color_blue:#0c5792;
$color_text:#4f5052;
$color_title:#3a3b3b;
$font1: 'Roboto', sans-serif;
$font2: 'Quicksand', sans-serif;