@import'main.scss';

.navContainer{
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    padding: 0px 110px 0px 110px;
    position: fixed;
    z-index: 50;
    box-shadow: 3px 3px 8px #4e5050 ;
}

.logoContainer{
    height: 60px;
    width:100px;
    float: left;
}
.Logo{
    height: 60px;
    width: auto;
}
.menuContainer{
    height: 60px;
    float: right;
    line-height: 60px;
}
.active{
    display: block;
}
.lien{
    margin: 0px 8px 0px 8px;
    text-decoration: none;
    color: $color_blue;
    font-family: $font1;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    transition: 150ms;
}
.lien:hover{
    font-size: 15px;
    transition: 150ms;
}
.lien:nth-child(3){
    margin: 0px 0px 0px 5px; 
    cursor: pointer;
}
.bars{
    height: 60px;
    float: right;
    color:$color_blue;
    line-height: 60px;
    font-size: 20px;
    display: none;
}
@media screen and (max-width:900px){
    .bars{
        display: block;
    }
    .menuContainer{
        width: 100%;
        display: flex;
        flex-direction: column;
        height: auto;
        background-color: #ffffff;
        position: absolute;
        top: 61px;
        right: 0px;
    
    }
    .lien{
        margin: 0px;
        padding: 0px;
        text-align: center;
        border-bottom: solid 1px $color_blue;
    }
    .lien:nth-child(3){
        margin: 0px; 
    }
    .navContainer{
        padding: 0px 30px 0px 30px;
    }
    .active{
        display: none;
    }
    .off{
        visibility: hidden;
        transition: 1s ease-out;
        opacity: 0 ;
    }
    .on{
        visibility: visible;
        transition: 0.5s ease-in;
        opacity: 1;
    }
}