@import'./main.scss';

#scrollboxMain{
    width: 100%;
    height: 700px;
    background-image: url('../images/terminal-aeroport.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.title{
    color: white;
    font-family: $font2;
    font-size: 25px;
    font-weight: bolder;
}
.btn{
    width: 200px;
    border: double 5px white;
    color: white;
    font-family: $font1;
    font-size: 17px;
    text-align: center;
    padding: 10px;
    margin-top: 25px;
    border-radius: 25px;
    cursor: pointer;
}
.btn:hover{
    background-color: white;
    color: $color-blue;
}

@media screen and (max-width:900px){
    #scrollboxMain{
        width: 100%;
        height: 500px;
        padding: 0px 30px 0px 30px;
    }

    .title{
        color: white;
        font-family: $font2;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
    }

}